<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="Tinysso_Server_SSO_Page" value="http://localhost:5000/sso" />
    <add key ="Tinysso_Server_Ticket_Validateion_API" value="http://localhost:5000/api/v1.0/validation" />
    <add key ="Tinysso_Test_Client" value ="http://localhost:50913/" />
  </appSettings>
</configuration>
